@import '../styles/vars';
@import '../styles/mixins';

.wrapper {
  display: flex;
  gap: 49px;
}

.inner {
  text-align: left;
}

.title {
  margin-bottom: 20px;

  @include font(900, 45px);

  @media screen and (min-width: $tablet) {
    font-size: 55px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 64px;
  }
}

.subtitle {
  // margin-bottom: 65px;

  @include font($fontSize: 18px);

  @media screen and (min-width: $tablet) {
    font-size: 22px;
    margin-bottom: 45px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 24px;
    margin-bottom: 65px;
  }
}

.content {
  line-height: 1.5;
}

.thumb {
  // min-height: 441px;
  // min-width: 635px;

  @media screen and (min-width: $tablet) {
    min-height: 400px;
    min-width: 435px;
  }

  @media screen and (min-width: $desktop) {
    min-height: 441px;
    min-width: 635px;
  }
}

.image {
  height: 100%;
  width: 100%;

  border-radius: 30px;

  object-fit: cover;
}
