@import '../styles/vars';
@import '../styles/mixins';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  @include flexed();
  gap: 30px;

  margin: 30px 0;
  @include font($fontSize: 18px);

  @media screen and (min-width: $tablet) {
    font-size: 20px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 24px;
  }
}

.item:not(:first-child) {
  font-weight: 400;
}

.thumb {
  position: relative;

  // height: 483px;
  // width: 860px;

  @media screen and (min-width: $tablet) {
    height: 400px;
    width: 700px;
  }

  @media screen and (min-width: $desktop) {
    height: 483px;
    width: 860px;
  }
}

.image {
  height: 100%;
  width: 100%;

  object-fit: cover;

  border-radius: 30px;
}

.map {
  position: absolute;
  // top: 176px;
  // left: 339px;

  height: 50px;
  width: 50px;

  padding: 9px;

  border-radius: 50%;
  box-shadow: $boxShadow;
  background-color: $mainBgnColor;

  @media screen and (min-width: $tablet) {
    top: 147px;
    left: 286px;
  }

  @media screen and (min-width: $desktop) {
    top: 176px;
    left: 339px;
  }
}
