@import '../../styles/vars';

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.link {
  @media screen and (min-width: $tablet2) {
    width: 150px;
  }
}
