@import '../../styles/vars';

.mySlider {
  position: relative;

  width: 1205px;
  margin: 0 auto;
}

.inner {
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;

  min-width: 229px;
  min-height: 242px;
  padding: 20px 0;

  background-color: $mainBgnColor;
  box-shadow: $boxShadow;
  border-radius: 26px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
}

.img {
  margin: 0 auto;
}

div[class='slick-track'] {
  display: flex;
  gap: 52px;

  padding: 50px 0;
}
